@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?44ebu9');
  src:  url('fonts/icomoon.eot?44ebu9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?44ebu9') format('truetype'),
    url('fonts/icomoon.woff?44ebu9') format('woff'),
    url('fonts/icomoon.svg?44ebu9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pczhuangxie:before {
  content: "\e900";
}
.icon-licai:before {
  content: "\e901";
}
.icon-pcchuangy:before {
  content: "\e905";
}
.icon-pcSSHANGSG:before {
  content: "\e902";
}
.icon-PCTOUZIZ:before {
  content: "\e903";
}
.icon-PCTUIGUAN:before {
  content: "\e904";
}
.icon-shangye:before {
  content: "\e906";
}
